body {
  background: #d5d5d5;
  font-family: Tahoma;
}

.main-screen1 {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.window1 {
  width: 950px;
  background: white;
  border: 1px solid #888;
  padding: 15px;
  border-radius: 6px;
}

/* HEADER */
.header1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  font-size: 20px;
  background: #6d477d;
  color: white;
  padding: 10px;
  border-radius: 6px;
}

/* TOP RIGHT BUTTONS */
.header-actions1 {
  position: absolute;
  right: 10px;
  display: flex;
  gap: 8px;
}

.header-actions1 button {
  width: 70px;
  height: 32px;
  font-size: 12px;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
}

.header-actions1 button:nth-child(1) { background: #007bff; }
.header-actions1 button:nth-child(2) { background: #28a745; }
.header-actions1 button:nth-child(3) { background: #dc3545; }
.header-actions1 button:nth-child(4) { background: #6c757d; }

/* FORM */
.form-grid1 {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 8px;
}

.field1 {
  display: flex;
  align-items: center;
}

.field1 label {
  width: 140px;
  font-size: 12px;
}

.field1 input {
  flex: 1;
  border: 1px solid #777;
  height: 24px;
  padding: 2px 6px;
}

/* TABLE */
.table-area1 {
  border: 1px solid #777;
  height: 160px;
  margin-top: 15px;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

th, td {
  border: 1px solid #aaa;
  padding: 4px;
}

td input {
  width: 100%;
  border: none;
}

/* TABLE BUTTONS */
.table-buttons1 {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.table-buttons1 button {
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 13px;
  border-radius: 6px;
  cursor: pointer;
}

.table-buttons1 button:nth-child(1) { background: #28a745; }
.table-buttons1 button:nth-child(2) { background: #dc3545; }
.table-buttons1 button:nth-child(3) { background: #007bff; }