.cashier-container{
width:600px;            /* smaller container */
margin:auto;
background:white;
padding:10px;
border:1px solid #28a745;
font-family:Segoe UI;
font-size:12px;
position:relative;   /* important for button positioning */
}
 
.top-row{
display:flex;
gap:6px;
margin-bottom:6px;
}
 
.top-row select,
.top-row input{
height:24px;
font-size:11px;
padding:2px 4px;
}
 
.main-grid{
display:flex;
gap:10px;
}
 
.left-panel{
width:50%;
}
 
.right-panel{
width:50%;
}
 
/* SUMMARY TABLE */
 
.summary-table{
width:100%;
border-collapse:collapse;
table-layout:fixed;
}
 
.summary-table td{
border:1px solid #28a745;
padding:4px;
}
 
.summary-table td:first-child{
width:65%;
text-align:left;
background:#ffffff;
font-size:12px;
}
 
.summary-table td:last-child{
width:35%;
text-align:right;
}
 
.summary-table input{
width:100%;
height:20px;
text-align:right;
font-size:11px;
padding:2px;
box-sizing:border-box;
}
 
.bold{
font-weight:bold;
}
 
/* COMMON TABLE */
 
.table{
width:100%;
border-collapse:collapse;
margin-top:6px;
font-size:11px;
}
 
.table th{
background:#6d477d;
color:white;
border:1px solid #28a745;
padding:4px;
text-align:center;
}
 
.table td{
border:1px solid #28a745;
padding:4px;
text-align:center;
}
 
.table input{
width:60px;
height:20px;
font-size:11px;
}
 
.sales-box{
margin-top:10px;
}
 
.total-box{
margin-top:6px;
}
 
.total-box input{
height:22px;
font-size:11px;
}
 
/* CLOSE BUTTON RIGHT BOTTOM */
 
.close-btn{
position:absolute;
right:10px;
bottom:10px;
padding:5px 12px;
background:#b64b4b;
color:white;
border:none;
cursor:pointer;
font-size:11px;
}
 