.home {
  height: 100vh;   /* FULL SCREEN ALWAYS */
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  
  /* background-size: cover; */
  /* background-position: center; */
  background-repeat: no-repeat;
}


/* background-image: url("/bg.png"); */

.home {
  width: 100%;
  height: 100vh; /* FULL SCREEN */
  background-size: cover; /* cover full screen */
  background-position: center; /* center image */
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card style */
.home-card {
  background: rgba(63, 63, 63, 0.6);
  padding: 30px;
  border-radius: 12px;
  color: white;
  /* text-align: center; */
}

